<footer class="footer" [class.dark-theme]="darkTheme">
  <div class="container">
    <div class="left">
      <span class="copy">© 2026 Alen Voina ♥ NASA</span>
    </div>

    <div class="center">
      <a [routerLink]="['simulations']" fragment="mechanics">Механика и орбиты</a>
      <a [routerLink]="['simulations']" fragment="quantum">Квантовая физика</a>
      <a [routerLink]="['simulations']" fragment="nuclear">Ядерная физика</a>
    </div>

    <div class="right">
      <button class="premium-btn" (click)="isAboutOpen = true">
        <mat-icon>fingerprint</mat-icon>
        <span>About Creator</span>
      </button>
    </div>

    <app-about-overlay *ngIf="isAboutOpen" (closeOverlay)="isAboutOpen = false">
    </app-about-overlay>
  </div>
</footer>
