<mat-toolbar class="header">

  <div class="left">
    <div class="logo" routerLink="/">
      <mat-icon>science</mat-icon>
      <span>Physics Lab</span>
    </div>
  </div>

  <div class="center">
    <nav class="nav">
      <button mat-button routerLink="/simulations">Simulations</button>
      <button mat-button routerLink="/quantum">Theory</button>
      <button mat-button routerLink="/nuclear">News</button>
    </nav>
  </div>

  <div class="right">
    <button mat-icon-button>
      <mat-icon>code</mat-icon>
    </button>
    <button mat-raised-button color="accent">Login</button>
  </div>

</mat-toolbar>