.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 0 20px;

  background: #ffffff;
  color: #1e1f2e;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.header.dark-theme {
  background: #1e1f2e !important;
  color: #f8fafc !important;

  .mat-toolbar-row,
  button,
  a {
    color: #f8fafc !important;
  }
}

.left {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.nav {
  display: flex;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.burger {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;

  background: #1e1f2e;
  display: flex;
  flex-direction: column;
  padding: 15px;

  gap: 10px;
  z-index: 999;
}

.mobile-auth {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 900px) {
  .desktop-nav {
    display: none;
  }

  .desktop-auth {
    display: none;
  }

  .burger {
    display: block;
  }

  .header {
    grid-template-columns: 1fr auto;
  }
}